.photo-gallery-container {
    text-align: center;
}

.photo-card {
    width: 22%;
    margin: 20px 1.5%;
    border-radius: 10px;
    box-shadow: 0 0 5px grey;
}

.photo-gallery-title {
    font-size: 38px;
    font-weight: 300;
    margin-bottom: 5px;
}

.photo-gallery-subtitle {
    font-size: 34px;
    font-weight: 300;
    margin-top: 0;
}

@media only screen and (max-width: 720px) {
    .photo-gallery-container {
        text-align: center;
    }   

    .photo-card {
        width: 45%;
        margin: 20px auto;
        border-radius: 10px;
        box-shadow: 0 0 5px grey;
    }

    .photo-description {
        font-size: 16px;
        line-height: 22px;
    }

    .description-div {
        padding: 2px;
    }

    .photo-gallery-title {
        font-size: 28px;
        font-weight: 300;
        margin-bottom: 5px;
    }
    
    .photo-gallery-subtitle {
        font-size: 24px;
        font-weight: 300;
        margin-top: 0;
    }
}